<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

    <title>Bia Long Phụng</title>
</head>
<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <div class="header_logo">

            </div>
            <ul class="nav">
                <li class="nav_link"><a href="#">Home</a></li>
                <li class="nav_link"><a href="#">giới Thiệu</a></li>
                <li class="nav_link"><a href="#">Sản Phẩm </a></li>
                <li class="nav_link"><a href="#">Tin Tức</a></li>
                <li class="nav_link"><a href="#">Liên Hệ</a></li>
            </ul>
           



        </div>





    </div>








    <!-- ic -->
    <script src="https://kit.fontawesome.com/34de9a6704.js" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="/js/_main.js"></script>
</body>
</html>