// reset css
*{
    padding:0 ;
    margin : 0 ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "roboto";
    padding:0 ;
    margin : 0 ;
}

// header
.header{
   width: 100%;
   background-color: black;

}
